<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{#if page.title}}{{page.title}} | {{/if}}{{site.title}}</title>
<link rel="stylesheet" href="{{{uiRootPath}}}/css/site.css">
<link rel="stylesheet" href="{{{uiRootPath}}}/css/site-extra.css">
</head>
<body>
<header class="site-header"><a href="{{{siteRootPath}}}/">{{site.title}}</a></header>
<main class="doc">
{{{page.contents}}}
</main>
</body>
</html>
